/* Escreva seu código aqui */


h1{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: white;
    font-size: 14px;
}
.circle__background{
    width: 100vw;
    height: 100vh;
    background-image: url("/src/img/bg-8-ball.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.circle__background::before{
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000094;
    backdrop-filter: blur(2px);

}
.circle__big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 350px;
    height: 350px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 50%;
    background-image: radial-gradient(circle at 0%,#302f2f ,#080808, black );
    background-image: radial-gradient(black);
    box-shadow: 0px 5px 15px #000000de;
    backdrop-filter: blur(15px);
    
    

}
.circle__small{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    border-radius: 50%;
    background-color: #ffffff;
  
}

.circle__small-animate{
    animation: animateSmalBallColor 8s infinite; 
}

.circle__big-animate{
    animation: animateBigBallColor 8s infinite;
}
.circle__small p{
    font-size: 120px;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    text-align: center;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #8d8d8d40;
    background-color: #060606;
    color: white;
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    
}
.btn:hover{
    border: 2px solid white;
}

input{
    margin: 8px 0 15px 0;
    border: 3px solid #000000e3;
    padding: 5px;
    border-radius: 15px;
}
 
@keyframes animateSmalBallColor {
    0%{
        background-color: #ffffff;
    }

    25%{
        background-color: #444343be;
        color:#a3a0a0
    }

    100%{
        background-color: #ffffff
    }
}

@keyframes animateBigBallColor {
    0%{
        box-shadow: 0px 5px 15px #000000de;
    }

    25%{
        box-shadow: 0px 5px 15px #ffffff62;
        
    }

    100%{
        box-shadow: 0px 5px 15px #000000de;
    }
}